q1:
ineruon 
ineruon ineruon
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

In [107]:
num=5
for i in range(num):
    for j in range(i+1):
        print('ineuron',end=' ')
    print()

ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron
ineuron ineuron ineuron ineuron ineuron

In [24]:
num=int(input('enter the number:'))

print()
for i in range(num):
    print('ineuron '*(i+1))

enter the number:5

ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron
ineuron ineuron ineuron ineuron ineuron

q2:
         ineruon
    ineruon  ineruon
ineruon  tineruon  tineruon
     ineruon  ineruon
         ineruon

In [50]:
for i in range(6):
    if i <= 3:
        n = i
    else:
        n = 6 - i
    print(('neuron     '*n).center(90, ' '))

                                       neuron
                                  neuron     neuron
                            neuron     neuron     neuron
                                  neuron     neuron
                                       neuron

In [54]:
num=int(input('enter the number: '))

for i in range(num):
    for j in range(num-i):
        print(' ',end='')
    for j in range(0,i+1):
        print('ineuronc ',end='')
    print()
for i in range(num):
    for j in range(i+1):
        print(' ',end='')
    for j in range(num-1-i):
        print(' ineuron ',end='')
    print()

enter the number: 5
     ineuronc
    ineuronc ineuronc
   ineuronc ineuronc ineuronc
  ineuronc ineuronc ineuronc ineuronc
 ineuronc ineuronc ineuronc ineuronc ineuronc
  ineuron  ineuron  ineuron  ineuron
   ineuron  ineuron  ineuron
    ineuron  ineuron
     ineuron

In [39]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , 
     {'k1' :"sudh" , "k2" :"ineuron","k3":"kumar" , 3:6 , 7:8},
     ["ineuron" , "data science "]]

q3 : Try to extract all the list entity

In [59]:
for i in l:
    if type(i) == list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science ']

q4 : Try to extract all the dict enteties

In [60]:
for i in l:
    if type(i) == dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

q5 : Try to extract all the tuples entities

In [61]:
for i in l:
    if type(i) == tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

q6 : Try to extract all the numerical data it may be part of dict key and values

In [77]:
l1=[]

for i in l:
    if type(i) == tuple or type(i) == list or type(i) == set:
        for j in i:
            if type(j) == int:
                l1.append(j)
    if type(i) == dict:
        for k in i.items():
            for g in k:
                if type(g) == int:
                    l1.append(g)

In [78]:
l1

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

q7 : Try to give summation of all the numeric data

In [80]:
sum(l1)

156

In [83]:
l2=[]
for i in l:
    if type(i) == dict:
        for j in i.items():
            for k in j:
                if type(k) ==int:
                    l2.append(k)
print(l2)

[3, 6, 7, 8]

q8 : Try to filter out all the odd values out all numeric data which is a part of a list

In [84]:
l1

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [88]:
l1=[]
l2=[]
for i in l:
    if type(i) == tuple or type(i) == list or type(i) == set:
        for j in i:
            if type(j) == int:
                l1.append(j)
    if type(i) == dict:
        for k in i.items():
            for g in k:
                if type(g) == int:
                    l1.append(g)
                    for q in l1:
                        if q % 2 != 0:
                            l2.append(q)

In [89]:
l2

[1,
 3,
 3,
 5,
 3,
 5,
 7,
 45,
 5,
 23,
 3,
 1,
 3,
 3,
 5,
 3,
 5,
 7,
 45,
 5,
 23,
 3,
 1,
 3,
 3,
 5,
 3,
 5,
 7,
 45,
 5,
 23,
 3,
 7,
 1,
 3,
 3,
 5,
 3,
 5,
 7,
 45,
 5,
 23,
 3,
 7]

q9: Try to extract "ineruon" out of this data

In [105]:
ll=[]

for i in l:
    if type(i) == list:
        for j in i:
            if j == 'ineuron':
                ll.append(j)
    if type(i) == dict:
        for k in i.items():
            for g in k:
                if g=='ineuron':
                    ll.append(g)

In [106]:
ll

['ineuron', 'ineuron']

q10 : Try to find out a number of occurances of all the data

In [4]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [90]:
l1=[]
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j) ==int:
                l1.append(j)
    if type(i) == dict:
        for g in i.items():
            for k in g:
                if type(k) == int:
                    l1.append(k)

In [91]:
for i in l1:
    print(i,':', l1.count(i))

1 : 1
2 : 2
3 : 4
4 : 4
2 : 2
3 : 4
4 : 4
5 : 3
6 : 3
3 : 4
4 : 4
5 : 3
6 : 3
7 : 2
45 : 1
4 : 4
5 : 3
23 : 1
3 : 4
6 : 3
7 : 2
8 : 1

In [70]:
l1=[]
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            l1.append(j)
    if type(i) == dict:
        for g in i.items():
            for k in g:
                l1.append(k)

In [71]:
for i in l1:
    print(i,':', l1.count(i))

1 : 1
2 : 2
3 : 4
4 : 4
2 : 2
3 : 4
4 : 4
5 : 3
6 : 3
3 : 4
4 : 4
5 : 3
6 : 3
7 : 2
45 : 1
4 : 4
5 : 3
23 : 1
k1 : 1
sudh : 1
k2 : 1
ineuron : 2
k3 : 1
kumar : 1
3 : 4
6 : 3
7 : 2
8 : 1
ineuron : 2
data science  : 1

q11: Try to find out number of keys in dict element.

In [62]:
l3=[]
for i in l:
    if type(i) == dict:
        for j in i.keys():
            l3.append(j)
print(l3)

['k1', 'k2', 'k3', 3, 7]

q12 : Try to filter out all the string data

In [ ]:
l1=[]
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            l1.append(j)
    if type(i) == dict:
        for g in i.items():
            for k in g:
                l1.append(k)

In [77]:
l5=[]
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j) == str:
                l5.append(j)
    if type(i) == dict:
        for k in i.items():
            for m in k :
                if type(m) == str:
                    l5.append(m)
print(l5)

['k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 'ineuron', 'data science ']

In [81]:
for i in l5:
    if type(i) == str:
        print(i)

k1
sudh
k2
ineuron
k3
kumar
ineuron
data science

q13 : Try to Find  out alphanum in data

In [84]:
for i in l1:
    if type(i) == str:
        if i.isalnum():
            print(i)

k1
sudh
k2
ineuron
k3
kumar
ineuron

q14 : Try to find out multiplication of all numeric value in the individual collection inside dataset

In [103]:
import math
mul = math.prod(l1)

In [104]:
mul

908605071360000